# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.env
.venv
venv/

# Git
.git
.gitignore

# Tests e coverage
.pytest_cache/
htmlcov/
.coverage

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Banco local
*.db